<log4net>
  <appender name="DefaultAppenderName" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs\%property{EntryAssemblyName}_." />
    <param name="Encoding" value="UTF-8" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="yyyy-MM-dd'.log'" />
    <param name="rollingStyle" value="Date" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %property{NewGuid} %m%n" />
    </layout>
  </appender>

  <logger name="DefaultLoggerName">
    <level value="ALL" />
    <appender-ref ref="DefaultAppenderName" />
  </logger>

  <appender name="HttpAppender" type="log4net.Appender.RemotingAppender" >
    <sink value="http://localhost:55154/api/LogResults" />
    <lossy value="false" />
    <bufferSize value="1" />
    <onlyFixPartialEventData value="true" />
  </appender>

  <logger name="HttpLogger">
    <level value="ALL" />
    <appender-ref ref="HttpAppender" />
  </logger>
  
</log4net>